
.rectangle-overview {
        position: absolute;
        width: 2000px;
        height: 1374px;
        left: 0px;
        top: 1344px;
        background: #DFDFDF;
}

.overview-lines {
        .line-one {
                position: absolute;
                height: 250px;
                left: 223px;
                top: 1000px;
                opacity: 0.1;
                border-left: 1px solid #0D0805;
        }
        .line-two {
                position: absolute;
                height: 250px;
                left: 223px;
                top: 1700px;
                opacity: 0.1;
                border-left: 1px solid #0D0805;
                border-bottom: 1px solid transparent
        }
        .line-three {
                position: absolute;
                height: 400px;
                left: 30px;
                top: 1525px;
                opacity: 0.1;
                border-left: 1px solid #0D0805;
                border-bottom: 1px solid transparent
        }
        .line-one-small {
                position: absolute;
                width: 20px;
                left: 1400px;
                top: 1220px;
                opacity: 0.4;
                border-bottom: 1px solid #0D0805;
        }
        .line-two-small {
                position: absolute;
                height: 20px;
                left: 1420px;
                top: 1220px;
                opacity: 0.4;
                border-left: 1px solid #0D0805;
        }
        .line-three-small {
                position: absolute;
                width: 20px;
                left: 1400px;
                top: 1700px;
                opacity: 0.4;
                border-bottom: 1px solid #0D0805;
        }
        .line-four-small {
                position: absolute;
                height: 20px;
                left: 1420px;
                top: 1681px;
                opacity: 0.4;
                border-left: 1px solid #0D0805;
        }
}

.top-1 {
        position: absolute;
        top: 1290px;
        left: 223px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: rgba(96, 96, 85, 0.8);
        font-family: "Inter";
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.025em;
}

.fa-file {
        font-size: 15px;
        font-weight: 900;
}

.overview-main {
        position: absolute;
        /* width: 1060px; */
        width: 850px;
        height: 120px;
        left: 223px;
        top: 1330px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
        /* or 40px */
        letter-spacing: -0.02em;
        color: #000000;
        opacity: 0.85;
}

.white-cont {
        position: absolute;
        width: 860px;
        height: 145px;
        left: 224px;
        top: 1475px;
        background: radial-gradient(100.02% 1984.43% at 0% 0%, rgba(255, 255, 255, 0.42) 0%, rgba(223, 223, 223, 0.6) 100%);
        mix-blend-mode: normal;
        -webkit-backdrop-filter: blur(2px);
                backdrop-filter: blur(2px);
        /* transition: all 200ms ease; */

        p {
                width: 620px;
                height: 85px;
                font-family: "Inter";
                font-style: normal;
                font-weight: 400;
                font-size: 12.5px;
                line-height: 133.5%;
                /* or 17px */
                padding: 30px;
                color: #000000;
                opacity: 0.9;
        }
}

.features-cont {
        .features-h1 {
                position: absolute;
                /* width: 1060px; */
                width: 850px;
                height: 120px;
                left: 223px;
                top: 2020px;
                font-family: "Inter";
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 100%;
                /* or 40px */
                letter-spacing: -0.02em;
                color: #000000;
                opacity: 0.85;
        }
        .features-white-cont {
                position: absolute;
                width: 860px;
                height: 49px;
                left: 224px;
                top: 2075px;
                background: radial-gradient(100.02% 1984.43% at 0% 0%, rgba(255, 255, 255, 0.42) 0%, rgba(223, 223, 223, 0.6) 100%);
                mix-blend-mode: normal;
                -webkit-backdrop-filter: blur(2px);
                        backdrop-filter: blur(2px);

                p {
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12.5px;
                        padding: 17px;
                        color: #000000;
                        opacity: 0.9;
                }
        }
}